$smallArmorIcon: 18px;


/* DIV SIZE VARIABLES HERE ===============================================*/
$narrow: 12rem;
$largeSize: 32rem;
$mediumSize: 18rem; 



/* COLOR VARIVABLES UNDER HERE */

$blakew: rgba(61, 20, 6, 0.9);
$dirtyOrange: #A86500;
$pukeGreen: #DEE75D;
$grey: #4F4B4A;
$green: #459840;
$fadeBlack: rgba(0,0,0,0.85);
$darkBrown: #140c0b;
$lightBrown: rgb(68, 68, 68);
$lightBlue: #6FB3CB;