@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Kurale');
	
html{
	background: url(../img/bg.jpg) no-repeat center center fixed;
  	background-size: cover;
  	height: 100%;
}

img{
	float: left;
}

body{
	font-family: 'Noto Sans', sans-serif;
}

.container{
	width: 65rem;
	height: 35rem;
	padding: 2rem;
	margin: 0 auto;
}