.build{
    display: inline;

    &__section{
        width: 100%;
        height: 9.8rem;
        color: white;
    }

    &__pieces{
        padding: 0.5rem;
        height: 90%;
        width: 100%;
        box-sizing: border-box;
        background-color: $fadeGrey;
        float: left;
        &--narrow{
            width: 40%;
        }
    }

    &__piece{
        width: 100%;
        height: 1.5rem;
        margin: 0.5%;
        padding: 2px;
        font-size: 0.8rem;
        box-sizing: border-box;
        background-color: $fadeGrey;
        &--weapon{
            width: 100%;
            height: 100%;
        }
    }

    &__skill{
        width: 60%;
        height: 1rem;
        font-size: 0.8rem;
    }

    &__imgsize{
        width: 1rem;
        height: 1rem;
        float: left;
        margin: 0 0.3rem 0 0.3rem;
    }

    &__header{
        width: 99.4%;
        height: 1.3rem;
        font-family: 'Kurale', serif;
        margin: 2px 0 0.5rem 0;
        border-bottom: 1.3px dashed $fadeGrey;

    }

    &__arrow{
        float: left;
        background: url('../img/iconarrow-yellow.png') no-repeat;
        background-size: 1rem 1rem;
        width: 1rem; height: 1rem;
        margin: 0.1rem 0.3rem 0 0;
    }

    &__waist{
        background-image: url(../img/waist.png);
    }
    &__gloves{
        background-image: url(../img/gloves.png);
    }
    &__head{
        background-image: url(../img/head.png);
    }
    &__legs{
        background-image: url(../img/legs.png);
    }
    &__chest{
        background-image: url(../img/chest.png);
    }
}