.filter{
	width: 5rem;
	height: $largeSize;
	display: inline-block;
	float: left;
	&__key{
		width: 4rem;
		height: 7.15%;
		margin: 6.5%;
		font-size: 10px;
		color: white;
		background-color: $fadeBlack;
		text-align: center;
		vertical-align: middle;
		padding: 0.5rem;
		box-sizing: border-box;
		border: 4px double rgba(255,255,255,0.2);
		outline: none;

		&--large{
			margin: 0;
			width: 100%;
			height: 1.9rem;
		}

		&:hover{
			border: 4px double $pukeGreen;
			color: $pukeGreen;
		}
		&--active{
			border: 4px double $pukeGreen;
			color: $pukeGreen;			
		}
	}
}

