.set-detail {
    width: 25rem;
    height: 20rem;
    position: absolute;
    background: #3c3b3f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c3b3f, #605c3c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c3b3f, #605c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 20%;
    left: 30%;
    z-index: 10;

    &__rank{
        display: inline-block;
        width: 40%;
    }

    &__skillName{
        display: inline-block;
        width: 40%;
    }

    &__img{
        width: 4rem;
        height: 4rem;
    }

    &__rep{
		background-image: linear-gradient(rgba(43,44,45,0), rgba(43,44,45,0.5), rgba(0,0,0,0));
        width: 4rem;
        height: 4rem;
        text-align: center;
        margin: 2rem;
        display: inline-block;
        border: 1px solid $grey;
    }
    
    &__rep:hover{
        border: 1px solid $dirtyOrange;
    }

    &__name{
        color: $lightBlue;
        text-align: center;
        margin: auto;
        height: 2rem;
        padding-top:0.5rem;
        border-bottom: 1px solid $grey;
    }
}
